header{
    position: relative;
    z-index: 20;
}

.hero-bg{
    background-image: url(./assets/hero_bg.jpg);
    background-position: bottom center;
    background-size: cover;
    width: 100%;
}
:root {
    --primary: #44C9B0;
    --secondary: #124;
    --accent: #e72;
  }

  
.contact-form-container {
    display: flex;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .contact-card {
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(var(--secondary), 0.06);
    overflow: hidden;
  }
  
  .waves {
    height: 80px;
    background: linear-gradient(to bottom left, var(--primary), var(--accent));
  }
  
  
  
  .contact-form {
    padding: 2rem 0 0 0;
  }
  
  .contact-button {
    display: block;
    width: 100%;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 1ch;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
    font-family: inherit;
  }
  
  .text-input {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .text-input label {
    position: absolute;
    top: 1ch;
    left: 1ch;
    padding: 0 0.5ch;
    pointer-events: none;
    transition: 150ms ease;
    color: #888;
    z-index: 2;
  }
  
  .text-input label.label-focus {
    position: absolute;
    top: 0;
    font-size: 0.9em;
    color: var(--primary);
    font-weight: bold;
    transform: translateY(-50%);
    background-color: #000218;;
    font-weight: 600;
  }
  
  .text-input input {
    display: block;
    width: 100%;
    border: 2px solid #888;
    padding: 0.75ch;
    border-radius: 10px;
    transition: 150ms ease;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    background-color: transparent;
  }
  
  .text-input input.input-focus {
    border-color: var(--primary);
  }
  
  .text-area {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .text-area label {
    position: absolute;
    top: 1ch;
    left: 1ch;
    padding: 0 0.5ch;
    pointer-events: none;
    transition: 150ms ease;
    color: #888;
    z-index: 2;
  }
  
  .text-area label.label-focus {
    position: absolute;
    top: 0;
    font-size: 0.9em;
    color: var(--primary);
    font-weight: bold;
    transform: translateY(-50%);
    background-color: #000218;;
    font-weight: 600;
  }
  
  .text-area textarea {
    display: block;
    width: 100%;
    border: 2px solid #888;
    padding: 1ch;
    border-radius: 10px;
    transition: 150ms ease;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    height: 8em;
    background-color: transparent;
  }
  
  .text-area textarea.input-focus {
    border-color: var(--primary);
  }



  /* Scrolll animation */

  .products {
    background-color:#999999;
    padding:20px;
  }
  .product {
    background-color:#111111;
    padding:20px;
    color:#fff;
    margin-bottom:20px;
    height:400px;
  }
  .fadeout {
    opacity: 0;
    transition: all 2s;
    transform: translate(0, 100px);
  }
  
  .fadein {
    opacity: 1;
    transform: translate(0, 0);
  }